/* Universal Selector */

* { 
    /* font-size: 2rem; */
    /* color: brown; */
}
/* {} declaration block */
/* 16px */


/* Type Selector */
h3, h2{
    /* border-width: 5px ;
    border-color: blue;
    border-style: solid; */

    border: 5px solid blue;
    border-radius: 5px;
}

/* Class Selector */
.text-bold{
    font-style: italic;
    font-weight: 300;
    color: yellow;
}

.paragraph{
    color: black;
}

/* ID Selector 
*/
#first{
    text-decoration: underline;
}

/* Active State */
li{
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px 18px;
    margin: 5px 0;
    color: #fff;
}

li a:link{
    background-color: #00f;
}

a:active {
    /* color: yellow;
    font-size: 24px; */
    opacity: .5;
}



a:hover{
    background-color: lightblue;
}


a:visited{
    background-color: brown;
}


/* 
div{
    width: 150px;
    height: 100px;
}

div.div1{
    background-color: red;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

div.div2{
    background-color: blue;
} */

.paragraph::first-letter{
    font-size: 64px;
    color: brown;
}

.paragraph::first-line{
    color: blue;
}

li:first-child{
    background-color: purple;
}

.text-before::before{
    content: "Hi "
}

.text-before::after{
    content: " There "
}

.text-before{
    text-align: center;
    text-decoration: underline;
}

p{
    text-indent: 50px;
}

.text{
    text-transform: capitalize;
    word-spacing: 100px;
    font-style: normal;
    font-variant: small-caps;
}