* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container{
    width: 250px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 12px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: black; */
    border-radius: 4px;
    border: 2px black solid;
}

.card-logo {
    margin-bottom: 20px;
    margin-top: 10px;
}

.card-header {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 15px;
}

.card-btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    width: 100%;
    text-transform: uppercase;
    background-color: black;
    border: 2px solid black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    font-weight: lighter;
}

.card-btn:hover {
    background-color: white;
    color: black;

}
